kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
# Name your cluster at CLI: kind create cluster --name awx --config <this-file>
nodes:
- role: control-plane
  extraMounts:
  - hostPath: C:\awx\awx-projects
    containerPath: /awx-projects
    # readOnly: false  # (default)
  extraPortMappings:
  - containerPort: 32000   # AWX NodePort
    hostPort: 32000
    listenAddress: "0.0.0.0"
    protocol: TCP
